body{
  padding: 0 5px;
}
/* typo */
.title{
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 20px;
}
h3{
  font-size: 25px;
  margin: 15px 0;
}
/* /typo */
/* header */
.header-box{
  text-align: center;
  padding: 5px 20px;
}
img{
  height: 200px;
}
/* responsive */
@media screen and (max-width: 767px){

  .header-box{
    padding: 15px 30px;
  }
  img{
    height: 150px;
  }
}
/* /responsive */
/* /header */

/* main */
/* main-how */
.main-how, .main-why{
  text-align: center;
  padding-bottom: 15px;
  margin-top: 30px;
}
.grey{
  background: rgb(235,235,235);
  background: linear-gradient(90deg, rgba(235,235,235,0.7749474789915967) 0%, rgba(249,249,249,1) 100%);
  border-radius: 5px;
  box-shadow: 0px 0px 4px 1px rgba(128, 128, 128, 0.5);
}
.main-how-box{
  padding: 10px;
}
/* responsive */
@media screen and (max-width: 767px){
  .main-how-box{
    padding: 15px 30px;
  }
  .main-how .title{
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px){
  .main-how-box img, .main-why-box img{
    height: 150px;
  }
}
/* /responsive */
/* /main-how */

/* main-why */
.main-why{
  margin-bottom: 10px;
}
.main-why-box{
  padding: 15px 30px;
}
.main-why-box img{
  background-color: #428bca;
  border-radius: 50%;
  padding: 15px;
}
.main-why-box hr{
  margin-top: 10px;
}
/* /main-why */
/* /main */
