/* typo */
.title{
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 20px;
}
h3{
  font-size: 20px;
  margin: 15px 0;
}
/* /typo */
/* header */
header{
  margin-bottom: 30px;
}
.header-box{
  text-align: center;
  padding: 5px 20px;
}
img{
  height: 200px;
}
/* responsive */
@media screen and (max-width: 767px){
  header{
    margin-bottom: 10px;
  }
  .header-box{
    padding: 15px 30px;
  }
  img{
    height: 150px;
  }
}
/* /responsive */
/* /header */

/* main */
/* main-how */
.main-how{
  text-align: center;
  padding-bottom: 15px;
}
.grey{
  background-color: #f9f9f9;
}
.main-how-box{
  padding: 10px;
}
/* responsive */
@media screen and (max-width: 767px){
  .main-how-box{
    padding: 15px 30px;
  }
  .main-how .title{
    margin-bottom: 10px;
  }
}
/* /responsive */

/* /main-how */
/* main-why */
/* /main-why */
/* /main */
