/* typo */
.title{
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
}
h3{
  font-size: 20px;
  margin: 15px 0;
}
/* /typo */
/* header */
header{
  padding-top: 20px;
  margin-bottom: 30px;
}
.header-box{
  text-align: center;
  padding: 5px 20px;
}
.header-box img{
  height: 200px;
}
/* responsive */
@media screen and (max-width: 767px){
  header{
    margin-bottom: 10px;
  }
  .header-box{
    padding: 15px 30px;
  }
}
/* /responsive */
/* /header */
